{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Plasma Chat</title>
		<link rel="shortcut icon" href="{% static 'images/plasma.ico' %}" type="image/x-icon">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">  
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="{% static 'images/plasma.png' %}" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Chat with Plasma</span>									
								</div>
								<div class="video_cam">
								</div>
							</div>
						</div>
						<div class="card-body msg_card_body">
							<!-- <div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="{% static 'images/plasma.png' %}" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									Hi, how are you samim?
									<span class="msg_time">8:40 AM, Today</span> 
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Hi Khalid i am good tnx how about you?
									 <span class="msg_time_send">8:55 AM, Today</span> 
								</div>
								<div class="img_cont_msg">
									<img src="{% static 'images/user.png' %}" class="rounded-circle user_img_msg">
								</div>
							</div> -->
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
								</div>
								{% csrf_token %}
								<textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer col-md-12 justify-content-center">
					Template by <a href="https://bootsnipp.com/snippets/nNg98">https://bootsnipp.com/snippets/nNg98</a>
				</div>
			</div>
		</div>
	
		
		<script type="text/javascript">
		
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = cookies[i].trim();
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}

			function userMsg(message) {
				return '<div class="d-flex justify-content-end mb-4">' +
								'<div class="msg_cotainer_send">' + 
									message + 
								'</div>' +
								'<div class="img_cont_msg">' +
									`<img src="{% static 'images/user.png' %}" class="rounded-circle user_img_msg">` +
								'</div>' + 
							'</div>';
			}

			function adminMsg(message) {
				return '<div class="d-flex justify-content-start mb-4">' +
								'<div class="img_cont_msg">' +
									`<img src="{% static 'images/plasma.png' %}" class="rounded-circle user_img_msg">` + 
								'</div>' + 
								'<div class="msg_cotainer">' + 
									message + 
								'</div>' +
							'</div>';
			}

			var checkMsg = setInterval(function(){
				var csrfmiddlewaretoken = getCookie('csrftoken');
				var type = 'receive';

				$.ajax({
					type: 'POST',
					url: "{% url 'chats:receive' %}",
					data: { type, csrfmiddlewaretoken },
					success: function(done){
						if(done != ""){
							var msg = adminMsg(done);
							$('.msg_card_body').append(msg);
							$('.type_msg').val('');
						}
					},
					error: function(fail){
						console.log(fail.responseText);
					}
				});
			}, 5000);
			
            $(document).ready(function(){
                $('#action_menu_btn').click(function(){
                    $('.action_menu').toggle();
                });

				$('.send_btn').click(function(){
					var csrfmiddlewaretoken = getCookie('csrftoken');
					var message = $('.type_msg').val();

					if(message != ""){
						$.ajax({
							type: 'POST',
							url: "{% url 'chats:send' %}",
							data: { message, csrfmiddlewaretoken },
							success: function(done){
								var msg = userMsg(done);
								$('.msg_card_body').append(msg);
								$('.type_msg').val('');
							},
							error: function(fail){
								console.log(fail.responseText);
							}
						});
					}
				});
            });
        </script>
	</body>
</html>
